{% extends 'baseForMain.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lobby.css' %}">
{% endblock %}

{% block contents %}
    <div class="chat-list">
        {% for chatroom_list in chatroom_lists %}
            <a href="{% url 'room' chatroom_list.chatroom %}"><div style="border: 1px solid black;">
                <!-- 상대방 유저 정보(닉네임) -->
                {% for user in chatroom_list.chatroom.user.all %}
                    {% if not user == chatroom_list.user %}
                        <p>{{ user.nickname }}</p>
                    {% endif %}
                {% endfor %}
                <!-- 채팅방의 최근 메시지 -->
                <p>{{ chatroom_list.chatroom.chatroom.latest.context }}</p>
                <!-- 채팅방이 업데이트된 시간 -->
                <p>{{ chatroom_list.chatroom.updated }}</p> 
                
                
            </div></a>
        {% endfor %}
    </div>
    <script>
        // userName을 눌렀을 때 roomName 변수 할당하고 url 정보 수정.
        function CreateChatUrl(e) {
            let firstUser = "{{ user }}"; // 현재 로그인한 유저 
            let secondUser = e; // secondUser는 최신순으로 연결된 메시지 순으로 해당 유저를 받아야함. 
            let userArr = [firstUser, secondUser]; // 현재 로그인한 유저와 선택한 유저를 배열에 넣기
            // 채팅방 이름을 아무렇게나 지으면 안되고 채팅 참가자를 어떠한 순서에 따라서 url을 만들어야 할듯. 
            userArr.sort(); // 정렬
            
            let userA = userArr[0];
            let userB = userArr[1];
            let roomName = userA + userB;
            let roomNameForUrl = '';


            // ascii로 변환한 뒤에 String로 형변환해서 변수 할당.
            for (let i=0; i < roomName.length; i++) {
                let ascii = String(roomName.charCodeAt(i)); 
                roomNameForUrl = roomNameForUrl + ascii;
            }
            
            // ascii code로 변환
            window.location.pathname = '/chat/' + roomNameForUrl  + '/';
        };
    </script>
{% endblock %}
