{% extends 'baseForMain.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}">
{% endblock %}

{% block contents %}
    <textarea id="chat-log" cols="100" rows="20">
        {% for message in recent_messages %}
        {{ message.author.nickname }}: {{ message.context}}
        {% endfor %}
    </textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    {{ room_name|json_script:"room-name" }}

    {% for message in messages %}
        {{ message.tag }}
        {{ message }}
    {% endfor %}

    
{% endblock %}

{% block script %}
    <script>
        // websocket 객체 생성
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );


        // 서버에서 데이터를 수신해서 textarea에 추가함.
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += ('{{ user.nickname }}: ' + data.message + '\n'); // user는 현재 로그인 중인 유저
        };
        
        // 비정상적인 종료시에 (비동기니까 서버 연결에 민감)
        chatSocket.onclose = function(e) {
            console.log('Chat socket closed unexpectedly');
        }

        // enter키 활성화
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#chat-message-submit').click();
            }
        };

        // 입력한 메시지 서버로 보내준 뒤에 초기화
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}