{% extends 'baseForIntro.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}
<div class ="loginmodal-container">
    <h2>Sign In</h2>
    <div class="text-wrapper">
        <div class="signup-form">
            <form method="POST" action="{% url 'signin' %}" style ="color: rgba(252, 26, 26, 0.74); font-size: 1.2rem; font-weight: bold; ">
                {% csrf_token %}
                {% include "form_errors.html" %}
                {% for field in form %}
                    <div class="text-field">
                        {{ field.label}}
                    </div>
                    <div class="textinput-field">
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="login-wrapper">
                    <button type="submit" class="login-btn">Sign In</button>
                </div>
            </form>
        </div>
        <div class="notmember">Not a member? </div>
        <div class="login-wrapper">
            <a href="{% url 'signup' %}"><button class="notmember-btn">Sign up</button></a>
        </div>
    </div>
</div>
{% endblock %}