{% extends 'baseForIntro.html' %}

{% block body %}
<div class ="modal-container">
    <a href="{% url 'index' %}" class="skip-link">Back</a>
    <h2>Log in</h2>
    <div class="login-wrapper">
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="login-field">
                {{ field.label}}
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="Sign In">
        </form>
        Not a member? <a href="{% url 'signup' %}"><button>Sign up</button></a>
    </div>
</div>
{% endblock %}