<!-- #pip install python-social-auth -->
{% extends 'baseForIntro.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}
    <div class="loginmodal-container">
        <h2>Additional Infromation for Sign Up!</h2>
        <div class="text-wrapper">
                <form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <!-- {{regi_form.as_p}} -->
                    {% for field in regi_form %}
                        <div class="signup-text-field">
                            {{ field.label }}
                        </div>
                        <div class="signup-textinput-field">
                            {{ field }}
                        </div>
                    <div class="login-wrapper">
                        <button type="submit" class="login-btn">Sign Up</button>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}
