@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 초기화 코드 */
html,
body {
  font-family: 'Noto Sans KR' ,sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  min-height: 702px;
  background-color: #DAE0E6;
  /* 세로 스크롤의 영향으로 가로 스크롤이 생겨서 가로 스크롤 방지 */
  overflow-x: hidden;
}

* {
  text-decoration: none;
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100vw;
  height: 80px;
  align-items: center;
  z-index: 1000;
}

.nav-content {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

.main-logo img {
  width: 150px;
  height: 53px;
  padding-left: 10%;
  padding-top: 5%;
}

.nav-login {
  width: 15%;
  height: 35px;
  border: none;
  background-color: #1a83ff;
  border-radius: 4px;
  font-size: 1.6rem;
}

.nav-login a{
    color: white;
}

.search-form {
  text-align: center;
  width: 50%;
}

#search-input {
  width: 75%;
  border: 1px solid #1a83ff;
  height: 35px;
  border-radius: 4px;
  padding: 5px 0 5px 10px;
}
#search-input::placeholder {
  color: #1a83ff;
}

.search-btn {
  width: 20%;
  height: 35px;
  border: none;
  background-color: #1a83ff;
  border-radius: 4px;
  color: white;
}


.nickname a{
    color: #1a83ff;
    font-size: 1.6rem;
    font-weight: bold;
}



.scroll-top {
	position: fixed;
	right: 40px;
	bottom: 30px;
	z-index: 100;
	background-color: #1a83ff;
	opacity: .8;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	color: #fff;
}

.scroll-top:hover {
	cursor: pointer;
}

.card-img-top {
  width: 300px;
  height: 230px;
  object-fit: cover;
  margin: 20 auto;
  /* display: block;
  line-height: 1; */


}




.carousel-inner{
  width:300px;
  height:230px; 
}

.carousel {
  width: 300px;
  height: 230px;
  /* display: flex;
  justify-content: center; */
}