@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  min-height: 702px;
  background-color: #DAE0E6;
}

* {
  text-decoration: none;
}
a{
  color:#333333;
}
a:hover{
   
   text-decoration: none;
}

.content-wrapper {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content:space-around;
}

.category-wrapper {
  background-color: white;
  border-radius: 4px;
  margin-left: 10%;
  width: 15%;
  height: 500px;
  padding-left: 25px;
}

.category-wrapper a {
  color: black;
}

.category-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #333333;
  padding-top: 10%;
}

.category,
.all {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 14%;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
  /* margin-left: 10%; */
}

.post-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  height: 500px;
  margin-bottom: 5%;
 
  position: relative;
}



.post-nickname {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #333333;
  padding-left: 5%;
  padding-top:5%;
}

.nickname-flag {
  font-size: 3.6rem;
  margin-right: 2%;
}

.post-body {
  font-size: 1.6rem;
  padding-left: 5%;
  color: #333333;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content:space-around;
  
}

.author{
  color:#666666;
  font-weight: 500;
}

.post-title{
  font-weight: bold;
  font-size: 2.4rem;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.post-text{
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.updated-date{
  color:#999999;
}

.post-category{
  position: absolute;
  bottom: 0;
  right: 5%;
  font-size: 1.4rem;
  color:#999999;
}

.post-body-bottom{
  width: 100%;
 
  display: flex;
  justify-content: space-around;
  margin-left: -5%;
}
.post-like-count{
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a83ff;
  color: white;
  border-radius: 10%/50%;
}

.post-like-count img{
  width: 24px;
  height: 24px;
}

.post-comment{
  width: 30%;
  height: 40px;
  border: 2px solid #1a83ff;
  background-color: white;
  color: #1a83ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%/50%;
  font-weight: 700;
}

.search-help-text{
 
  width: 52%;
  font-size: 2.4rem;
  text-align: center;
  margin: 30vh auto 0 auto
 
}

.search-help-text a{
  margin-top: 5%;
  font-size: 1.6rem;
  color: #1a83ff;
}

