@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  min-height: 702px;
  background-color: #e5e5e5;
}

* {
  text-decoration: none;
}

.content-wrapper {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.category-wrapper {
  background-color: white;
  border-radius: 4px;
  margin-left: 5%;
  width: 15%;
  height: 400px;
  padding-left: 25px;
}

.category-wrapper a {
  color: black;
}

.category-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #333333;
  padding-top: 10%;
}

.category,
.all {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 14%;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.post-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  height: 500px;
  margin-bottom: 5%;
  
}

.post-content{
  display: flex;
}

.post-nickname {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #333333;
  padding-left: 5%;
}

.nickname-flag {
  font-size: 3.6rem;
  margin-right: 2%;
}

.post-body {
  font-size: 1.6rem;
  padding-left: 5%;
  color: #333333;
  display: flex;
  flex-direction: column;
  height: 80%;
  
}

.author{
  color:#666666;
  font-weight: 500;
}


.updated-date{
  color:#999999;
}

