{% extends 'baseForMypage.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block contents %}
<div class="post-container">
    <div class="post-menuname">
        My Posts
    </div>
    <div class="post-body">
        {% for post in post_list %}
            <div class="post-text"><p>✔️<a href="{% url 'detail' post.id %}">{{ post.title }}</a></p></div>
        {% endfor %}

    </div>
</div>
{% endblock %}