{% extends 'baseForMypage.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block contents %}
<div class="post-container">
    <div class="post-menuname">
        My Comments
    </div>
    <div class="post-body">
        {% for comment in comment_list %}
        <div class="post-text">
            <p>✔️{{ comment.content }}&nbsp;&nbsp;
            <a href="{% url 'detail' comment.post.id %}">Watch More!</a></p>
        </div>
    {% endfor %}
    </div>

    <div class="post-menuname">
        My Recomments
    </div>
    <div class="post-body">
        {% for recomment in recomment_list %}
            <div class="post-text">
                <p>✔️{{ recomment.content }}&nbsp;&nbsp;
                <a href="{% url 'detail' recomment.post.id %}">Watch More!</a></p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}