<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        
        <div class="post-title">{{postForm.title}}</div>
        
        <div class="post-text">{{postForm.text}}</div>
        <label for="post-category">{{postForm.category.label}}</div>
        <div class="post-text">{{postForm.category}}</div>

        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }}<br/>
        {% endfor %}
       
        <input type="submit" value="Blaze!" />
    </form>
</body>
</html>



</form>