{% extends 'baseForMain.html' %}

{% block contents %}

<!-- user가 쓴 글일때 더보기 클릭하면 -->
<div class="icon"> 
  

   
</div>

<!-- user가 쓴 글이 아닐 때 더보기 클릭하면 -->
<div class="icon">
    <button id="{{ post.author.nickname }}" class="userNameForChat" onclick="CreateChatUrl(this.id)">send a message</button>
</div>

<p id="flag" data-flag="{{my_post.author.country}}"></p>
{{my_post.author.nickname}}


{% if my_post.created_string == False %}
<div>{{ my_post.registered_date|date:'y.m.d'}}</div>
{% else %}
<div>{{ my_post.created_string }}</div>
{% endif %}

<br>{{my_post.title}}

<div>{{my_post.text}}</div>
 

<div id="my_post_{{ my_post.id }}" class="carousel slide" data-ride="carousel">
  
    {% if my_post.image %}
         
  
    <div class="carousel-innner" role="listbox">
        {% for i in my_post.image.all %}
     
    
        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img src="{{ i.image.url }}" class="card-img-top">
            <script>
                $('.carousel'.carousel({pause: false}))
            </script>
        </div> 

        {% endfor %}    

        // <!-- <img src="{{i.image.url}}"/> -->
        

        // <!-- Left and right controls -->

        <a class="carousel-control-prev" href="#my_post_{{ my_post.id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>

        </a>

        <a class="carousel-control-next" href="#my_post_{{ my_post.id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<form class="comment" method="POST" action="{% url 'create_comment' my_post.id %}">
   {% csrf_token %}
   {{comment_form}}
  <button type="submit">comment</button>
  </form>
  
  {% for comment in my_post.comment.all %}
  <hr/>
  <div>comment user : {{flag}}{{comment.user.nickname}} </div>
  <div> comment : {{comment.content}}</div>
  <div> {{comment.created_at|date:"Y.m.d"}}
    {% if request.user == my_post.author %}
    <a href="{% url 'delete_comment' comment.id my_post.id %}"><button id="deleteBtn" onclick="return confirm('Are you sure you want to delete this comment?');">Delete</button></a>
    {% endif %}
  </div>
  <form method="POST" action="{% url 'create_recomment' comment.id my_post.id %}">
    {% csrf_token %}
    {{recomment_form}}
    <button type="submit">ReComment</button>
</form>
<hr />
{% endfor %}

{% for recom in comment.recomment.all %}

{% endif %}
<p>{{my_post.updated|date:"Y.m.d"}}</p>
{% if request.user == my_post.author %}
<a href="{%url 'update' my_post.id %}"><button>Edit</button></a>
<a href="{%url 'delete' my_post.id %}"><button id="deleteBtn" onclick="return confirm('Are you sure you want to delete this?');">Delete</button></a>

<div> ==>{{flag}}{{recom.user.nickname}}</div>
<div>{{recom.content}}</div>
{% if request.user == my_post.author %}
    <a href="{% url 'delete_recomment' recom.id my_post.id %}"><button id="deleteBtn" onclick="return confirm('Are you sure you want to delete this recomment?');">Delete</button></a>
{% endif %}
{% endfor %}
{% endblock %}

{% endif %}

<div>
        
  {% if request.user in my_post.like_users.all %}
  <i class="thumps-down like-btn" data-id="{{my_post.id}}" style="color:tomato">시러여</i>
  {% else %}
  <i class="thumps-up like-btn" data-id="{{my_post.id}}" style="color:black">좋아여</i>
  {% endif %}
  <span class="like-count-{{my_post.id}}">{{my_post.like_users.count}}</span>
</div>

<form class="comment" method="POST" action="{% url 'create_comment' my_post.id %}">
   {% csrf_token %}
   {{comment_form}}
  <button type="submit">comment</button>
  </form>
  
  {% for comment in my_post.comment.all %}
  <hr/>
  <div>comment user : {{flag}}{{comment.user.nickname}} </div>
  <div> comment : {{comment.content}}</div>
  <div> {{comment.created_at|date:"Y.m.d"}}
    {% if request.user == my_post.author %}
    <a href="{% url 'delete_comment' comment.id my_post.id %}"><button id="deleteBtn" onclick="return confirm('Are you sure you want to delete this comment?');">Delete</button></a>
    {% endif %}
  </div>
  <form method="POST" action="{% url 'create_recomment' comment.id my_post.id %}">
    {% csrf_token %}
    {{recomment_form}}
    <button type="submit">ReComment</button>
</form>
<hr />
{% endfor %}

{% for recom in comment.recomment.all %}

<div> ==>{{flag}}{{recom.user.nickname}}</div>
<div>{{recom.content}}</div>
{% if request.user == my_post.author %}
    <a href="{% url 'delete_recomment' recom.id my_post.id %}"><button id="deleteBtn" onclick="return confirm('Are you sure you want to delete this recomment?');">Delete</button></a>
{% endif %}
{% endfor %}
{% endblock %}


{% block script %}
    <script>
        // userName을 눌렀을 때 roomName 변수 할당하고 url 정보 수정.
        function CreateChatUrl(e) {
            let firstUser = "{{ user }}";
            let secondUser = e;
            let userArr = [firstUser, secondUser]; // 현재 로그인한 유저와 선택한 유저를 배열에 넣기
            // 채팅방 이름을 아무렇게나 지으면 안되고 채팅 참가자를 어떠한 순서에 따라서 url을 만들어야 할듯. 
            userArr.sort(); // 정렬
            
            let userA = userArr[0];
            let userB = userArr[1];
            let roomName = userA + userB;
            let roomNameForUrl = '';

            for (let i=0; i < roomName.length; i++) {
                let ascii = String(roomName.charCodeAt(i)); // ascii로 변환한 뒤에 String로 형변환해서 변수 할당.
                roomNameForUrl = roomNameForUrl + ascii;
            }
            
            // ascii code로 변환
            window.location.pathname = '/chat/' + roomNameForUrl  + '/';
        };
        
    </script>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"> </script>
  <script>
      const likeBtn = document.querySelectorAll('.like-btn');
      function likeUser(e){
          const postId = e.target.dataset.id;
          const likeCount = document.querySelector(`.like-count-${postId}`)
      
          axios.defaults.xsrfCookieName = 'csrftoken';
          axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
          axios.post(`/detail/${postId}/like/`)
          .then(response =>{
              likeCount.innerText =response.data.count;
              
              if(response.data.liked){
                  console.log(`${response.data.liked} false` )
                  e.target.className="thumps-up like-btn"
                  e.target.style.color = "tomato"
                  e.target.innerText = "싫어여"
              }else if(response.data.liked === undefined){
                  console.log("hey")
                  e.target.innerText = "로그인 창으로 이동합니다"
                  window.location = "http://127.0.0.1:8000/signin/";    
              }else{
                  console.log(`${response.data.liked} true` )
                  e.target.className="thumps-down like-btn"
                  e.target.style.color = "black"
                  e.target.innerText = "좋아여"
              }
          }
  
          )
      }
      likeBtn.forEach(button =>{
          button.addEventListener("click",likeUser)
      })
  </script>

{% endblock %}
