{% extends 'baseForMain.html' %}

{% block contents %}

<!-- user가 쓴 글일때 더보기 클릭하면 -->
<div class="icon"> 

   
</div>

<!-- user가 쓴 글이 아닐 때 더보기 클릭하면 -->
<div class="icon">
    <button>send a message</button>
</div>

<p id="flag" data-flag="{{my_post.author.country}}"></p>
<div>{{my_post.author.nickname}}</div>
<div>{{my_post.title}}</div>

<div>{{my_post.text}}</div>
 
{% if my_post.image %}
{% for i in my_post.image.all %}
<img src="{{i.image.url}}"/>



{% endfor %}

{% endif %}
<p>{{my_post.updated|date:"Y.m.d"}}</p>
{% if request.user == my_post.author %}
<a href="{%url 'update' my_post.id %}"><button>Edit</button></a>
<a href="{%url 'delete' my_post.id %}"><button id="deleteBtn" onclick="return confirm('Are you sure you want to delete this?');">Delete</button></a>

{% endif %}

<div>
        
  {% if request.user in my_post.like_users.all %}
  <i class="thumps-down like-btn" data-id="{{my_post.id}}" style="color:tomato">시러여</i>
  {% else %}
  <i class="thumps-up like-btn" data-id="{{my_post.id}}" style="color:black">좋아여</i>
  {% endif %}
  <span class="like-count-{{my_post.id}}">{{my_post.like_users.count}}</span>
</div>

<form class="comment" method="POST" action="{% url 'create_comment' my_post.id %}">
   {% csrf_token %}
   {{comment_form}}
  <button type="submit">comment</button>
  </form>
  
  {% for comment in my_post.comment.all %}
  <hr/>
  <div>comment user : {{flag}}{{comment.user.nickname}} </div>
  <div> comment : {{comment.content}}</div>
  <div> {{comment.created_at|date:"Y.m.d"}}
    {% if request.user == my_post.author %}
    <a href="{% url 'delete_comment' comment.id my_post.id %}"><button id="deleteBtn" onclick="return confirm('Are you sure you want to delete this comment?');">Delete</button></a>
    {% endif %}
  </div>
  <form method="POST" action="{% url 'create_recomment' comment.id my_post.id %}">
    {% csrf_token %}
    {{recomment_form}}
    <button type="submit">ReComment</button>
</form>
<hr />
{% for recom in comment.recomment.all %}

<div> ==>{{flag}}{{recom.user.nickname}}</div>
<div>{{recom.content}}</div>
{% if request.user == my_post.author %}
    <a href="{% url 'delete_recomment' recom.id my_post.id %}"><button id="deleteBtn" onclick="return confirm('Are you sure you want to delete this recomment?');">Delete</button></a>
{% endif %}
{% endfor %}

  {% endfor %}
  
  {% endblock %}
  {% block script %}


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"> </script>
  <script>
      const likeBtn = document.querySelectorAll('.like-btn');
      function likeUser(e){
          const postId = e.target.dataset.id;
          const likeCount = document.querySelector(`.like-count-${postId}`)
      
          axios.defaults.xsrfCookieName = 'csrftoken';
          axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
          axios.post(`/detail/${postId}/like/`)
          .then(response =>{
              likeCount.innerText =response.data.count;
              
              if(response.data.liked){
                  console.log(`${response.data.liked} false` )
                  e.target.className="thumps-up like-btn"
                  e.target.style.color = "tomato"
                  e.target.innerText = "싫어여"
              }else if(response.data.liked === undefined){
                  console.log("hey")
                  e.target.innerText = "로그인 창으로 이동합니다"
                  window.location = "http://127.0.0.1:8000/signin/";    
              }else{
                  console.log(`${response.data.liked} true` )
                  e.target.className="thumps-down like-btn"
                  e.target.style.color = "black"
                  e.target.innerText = "좋아여"
              }
          }
  
          )
      }
      likeBtn.forEach(button =>{
          button.addEventListener("click",likeUser)
      })
  </script>

{% endblock %}