{% extends 'baseForMain.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">

<title>Edit Post</title>

{% endblock %}
{% block contents %}
<div class="create-container">
    <div class="create-title">Edit Post</div>
    <form method="POST" enctype="multipart/form-data" class="create-form">
        {% csrf_token %}
        <div class="form-content">
        <div class="post-title">{{update_form.title}}</div>

        <div class="post-text">{{update_form.text}}</div>
        </div>
        <div class="category-wrapper">
        <label for="category" class="category-title">{{update_form.category.label}}</label>
        <div class="post-category">{{update_form.category}}</div>
    </div>

        <div class="image-formset">
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="upload">{{ form }}</div>
            {% endfor %}
        </div>
        <div class="submit">
        <button type="submit" class="submit-btn">Blaze!</button>
        </div>
    </form>
</div>
</body>

</html>





{% endblock %}

