{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/baseForMain.css' %}">
    {% block head %}{% endblock %}
    
</head>
<body>
    <nav class="navMenu">
        <div><a href='{% url "index" %}'>Blaze (로고)</a></div> 

        {% if user.is_authenticated %}
            {{ user.nickname }}님, 반갑습니다!
        {% else %}
            로그인 하시려면 <a href="{% url 'index' %}">이곳</a>을 클릭하세요
        {% endif %}

    
        <div class="create_write_btn">
            <a href="{%url 'create' %}">
                <img src="{% static 'i' %}">
                
                    
                </div>
            </a>
        </div>


    </nav>

    <div class= category>


    </div>

    <div class="contents">
        <div class="create_write2">

            <div class="create_btn2">
                Create new post!
            </div>
        </div>


    </div>
    {% block contents %}
    {% endblock %}

    <script>
        const getFlagEmoji = (countryCode) => countryCode.toUpperCase().replace(/./g,
            char => String.fromCodePoint(127397 + char.charCodeAt())
        );
        const flagReplace = document.querySelectorAll('[data-flag]');
        flagReplace.forEach(s => s.innerHTML = getFlagEmoji(s.dataset.flag))
    </script>

    {% block script %}
    {% endblock %}



</body>
</html>