{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/baseForMain.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navMenu">
        <div class="main-logo"><a href='{% url "main" %}'><img src="{% static 'images/logo.png' %}" alt="logo-image" title="blaze!"/></a></div>
        <div class="nav-content">
            {% if user.is_authenticated %}
            <div class="nickname">HI! {{ user.nickname }}</div>&nbsp;&nbsp;&nbsp;
            <div class="nickname"><a href="{% url 'mypageapp:mypage' %}">My Page</a></div>
            {% else %}
            <button class="nav-login"> <a href="{% url 'signin' %}">login</a></button>
            {% endif %}


            <form method="POST" class="search-form" action="{% url 'search' %}">
                {%csrf_token%}
                <input type="search" placeholder="Title or Content" aria-label="Search" name="post" value="{{post}}"
                    id="search-input" id="search">
                <button type="submit" class="search-btn">Search</button>
            </form>

            <div class="create_write_btn">
                <a href="{%url 'create' %}">
                   
                    <img src="{% static 'images/create-btn.svg' %}" alt="create-btn" />
                </a>
            </div>


            <div class="alarm">
                <a href="">
                    <div class="alarm_btn">
                        <icon />
                    </div>
                </a>
            </div>
        </div>
    </nav>

   
    {% block contents %}
    {% endblock %}



</body>

</html>