{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/baseForMain.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navMenu">
        <div class="main-logo"><a href='{% url "main" %}'><img src="{% static 'images/logo.png' %}" alt="logo-image" title="blaze!"/></a></div>
        <div class="nav-content">
            {% if user.is_authenticated %}
            <div class="nickname">HI! {{ user.nickname }}</div>
            <a href="{% url 'mypageapp:mypage' %}">mypage 이동</a>
            {% else %}
            <button class="nav-login"> <a href="{% url 'signin' %}">login</a></button>
            {% endif %}


            <form method="POST" class="search-form" action="{% url 'search' %}">
                {%csrf_token%}
                <input type="search" placeholder="Title or Content" aria-label="Search" name="post" value="{{post}}"
                    id="search-input" id="search">
                <button type="submit" class="search-btn">Search</button>
            </form>

            <div class="create_write_btn">
                <a href="{%url 'create' %}">
                   
                    <img src="{% static 'images/create-btn.svg' %}" alt="create-btn" />
                </a>
            </div>


            <div class="alarm">
                <a href="">
                    <div class="alarm_btn">
                        <icon />
                    </div>
                </a>
            </div>
        </div>
    </nav>

   
    {% block contents %}
    {% endblock %}

    <script>
        // get flag emoji
        const getFlagEmoji = (countryCode) => countryCode.toUpperCase().replace(/./g,
            char => String.fromCodePoint(127397 + char.charCodeAt())
        );
        const flagReplace = document.querySelectorAll('[data-flag]');
        flagReplace.forEach(s => s.innerHTML = getFlagEmoji(s.dataset.flag))

        // handle search input length
        const searchForm = document.querySelector('.search-form')
        const searchInput = document.querySelector('#search-input');
        const handleInputValue = (e) => {

            console.log(searchInput.value)
            const value = searchInput.value.length;
            if (value === 0 || value < 3) {
                e.preventDefault();
                alert("Please insert more than 3 characters!")
            }
        }
        searchForm.addEventListener("submit", handleInputValue)

    </script>


    {% block script %}
    {% endblock %}



</body>

</html>