{% extends 'baseForMain.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">{% endblock %}



{% block contents %}
<div class="content-wrapper">
    <div class="category-wrapper">
        <div class="category-title">Category</div>
        <div class="all"><a href="{% url 'main' %}">All</a></div>
        {% for category in categories %}
        <div class="category"><a href="{% url 'category' category.id %}">{{category}}</a></div>
        {% endfor %}

    </div>
    <div class="post-wrapper">
        {% for post in all_post %}

        <div class="post-container">
            <a href="{% url 'detail' post.id %}">
                <div class="post-content">

                    <div class="post-nickname">
                    <div class="nick-flag">
                        <p id="flag" data-flag="{{post.author.country}}"></p>
                    </div>
                        <div class="ninkname-data">
                            <p>{{post.author.nickname}}</p>
                            <p>{{post.updated|date:"Y.m.d.h"}}</p>
                        </div>
                    </div>
                    <div class="post-body">
                        <p>{{post.title}}</p>

                        <div class="post-text">{{post.text}}</div>
                        <div >{{post.like_users.count}}</div>
                        {% if post.image %}
                        {% for i in post.image.all %}
                        <img src="{{i.image.url}}" />

                        {% endfor %}

                        {% endif %}

                        <p>{{post.category}}</p>
                    </div>
                </div>
            </a>

        </div>
        {%endfor%}
    </div>

</div>


{% endblock %}




{% block script %}

{% endblock %}