{% extends 'baseForMain.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


{% endblock %}

{% block contents %}
<div class="content-wrapper">
    <div class="category-wrapper">
        <div class="category-title">Category</div>
        <div class="all"><a href="{% url 'main' %}">All</a></div>
        {% for category in categories %}
        <div class="category"><a href="{% url 'category' category.id %}">{{category}}</a></div>
        {% endfor %}

    </div>
    <div class="post-wrapper">
        {% for post in all_post %}

        <div class="post-container">


            <a href="{% url 'detail' post.id %}">
                <div class="post-nickname">
                    <div class="nickname-flag">
                        <p id="flag" data-flag="{{post.author.country}}"></p>
                    </div>
                    <div class="ninkname-data">
                        <div class="author">{{post.author.nickname}}</div>
                        <div class="updated-date">{{post.updated|date:"Y.m.d.h"}}</div>
                    </div>
                </div>
                <div class="post-body">
                    <div class="post-title">{{post.title}}</div>

                    <div class="post-text">{{post.text}}</div>

                    {% if post.image %}
                    {% for i in post.image.all %}
                    <img src="{{i.image.url}}" width="200px" height="200px"/>

                    {% endfor %}

                    {% endif %}
                    <div class="post-body-bottom">
                        <div class="post-like-count"><img src="{% static 'images/fire.svg' %}"/>{{post.like_users.count}}</div>
                        <div class="post-comment">Comment</div>
                    </div>

                </div>
                <div class="post-category">{{post.category}}</p>
                </div>
            </a>


        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}




{% block script %}

{% endblock %}