
    {% extends 'baseForMain.html' %}
  


        {% block contents %}
            {% for post in all_post %}
            <a href="{% url 'detail' post.id %}">
                <div class="all_post">
                    <p>{{post.id}}</p>
                    <p>{{post.author}}</p>
                    <p>{{post.title}}</p>
                    <p>{{post.text}}</p>
                    {% if post.image %}
                        <img src="{{post.image.url}}"/>

                    {% endif %}
                    <p>{{post.updated|date:"Y.m.d"}}</p>
                
                </div>
            </a>    
            
            {%endfor%}

        {% endblock %}

